doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scala=1.0')
    meta(name='description' content='This is RuiOliveiras personal blog, where i will right about interesting things')
    title RuiOliveiras &ndash; Personal Blog
    //- style
      //- include css/blog.css
      //- include css/style.css
      //- include css/blog.css
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=EB+Garamond|Lobster|Sura')
    link(rel='stylesheet' href='/css/blog.css')
  body
    div(id="layout" class="pure-g")
      div(class='ros-sidebar pure-u-1 pure-u-md-1-4')      
        div(class='header')
          h1(class='brand-title') Rui Oliveiras
          h2(class='brand-tagline') my personal blog
          nav(class='nav')
            ul(class='nav-list')
              li(class='nav-item'): a(href='/about') aboutMe
              li(class='nav-item'): a(href='/posts') Posts
              li(class='nav-item') task1: modify layout for inheritance to be able to create to a content page create a sub-indice below this indice
              li(class='nav-item') task2: format css inside post list
              li(class='nav-item') task3: get a way for tag url seach work
              li(class='nav-item') task3.1: how intenal google search work? put this here
              li(class='nav-item') task4: format somehow the content inside pre > code
              
      div(class='ros-content pure-u-1 pure-u-md-3-4')
        div: != yield
        div(class='class="footer')
        div(class='pure-menu pure-menu-horizontal')
          ul
            li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas1
            li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas2
            li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas3
