doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scala=1.0')
    meta(name='description' content='This is RuiOliveiras personal blog, where i will right about interesting things')
    block title
      title RuiOliveiras &ndash; Personal Blog
    link(rel='stylesheet' href='/js//lib/prism.css')
    link(rel='stylesheet' href='/css/lib/pure.css')
    link(rel='stylesheet' href='/css/lib/grids-responsive-min.css')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=EB+Garamond|Lobster|Sura')
    //link(rel='stylesheet' href='/css/blog.css')
    link(rel='stylesheet' href='/css/side-bar.css')
    link(rel='stylesheet' href='/css/base.css')
  body
    div(id='layout' class='pure-g active')
      div(id='' class='ros-sidebar pure-u-1 pure-u-lg-8-24')      
        div(class='ros-sidebar-content pure-u-20-24')
          .brand-title.pure-g
            .pure-u-2-5: img.pure-img(src="/img/me.jpg")
            span.pure-u-3-5: a.brand-title-text.ros-super-cool-url(href='/') Rui Oliveiras
          h2(class='brand-tagline') Menu
          nav(class='nav')
            ul(class='nav-list')
              li(class='nav-item'): a.ros-cool-url(href='/posts') Posts
              li(class='nav-item'): a.ros-cool-url(href='/p1/bio.html') Bio
              li(class='nav-item'): a.ros-cool-url(href='/cv.pdf') Curriculum
              li(class='nav-item'): a.ros-cool-url(href='https://github.com/ruioliveiras/') Github
          block vars
          if summary != "empty"
            h2.brand-tagline
              | Summary
            nav(class='nav')
              ul(class='nav-list')
                for val, key in summary
                  li(class='nav-item'): a.ros-cool-url(href="#{key}")= val.title
                  if val.sub
                    ul(class='nav-list')
                      for val2, key2 in val.sub
                        li(class='nav-item'): a.ros-cool-url(href="#{key2}")= val2.title

            
          block summary    
        a(href="#menu" id="menuLink" class="pure-u-4-24 menu-link"): span
      div(class='ros-content pure-u-1 pure-u-lg-16-24')
        block content
          div No content here, i'm sory..
        //div(class='footer')
        //div(class='pure-menu pure-menu-horizontal')
        //  ul
        //    li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas1
        //    li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas2
        //    li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas3
    script(src='/js/lib/prism.js')
    script(src='/js/ui.js')
    block script
