doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scala=1.0')
    meta(name='description' content='This is RuiOliveiras personal blog, where i will right about interesting things')
    block title
      title RuiOliveiras &ndash; Personal Blog
    link(rel='stylesheet' href='/js//lib/prism.css')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=EB+Garamond|Lobster|Sura')
    link(rel='stylesheet' href='/css/blog.css')
  body
    div(id='layout' class='pure-g active')
      div(id='' class='ros-sidebar pure-u-1 pure-u-md-1-4')      
        div(class='ros-sidebar-content pure-u-20-24')
          h1(class='brand-title'): a.ros-super-cool-url(href='/') Rui Oliveiras
          h2(class='brand-tagline') Menu
          nav(class='nav')
            ul(class='nav-list')
              li(class='nav-item'): a.ros-cool-url(href='/posts') Blog
              li(class='nav-item'): a.ros-cool-url(href='/hotlinks.html') HotLinks
              li(class='nav-item'): a.ros-cool-url(href='/aboutme.html') AboutMe 
              li(class='nav-item'): a.ros-cool-url(href='/cv_en.pdf') Resume
              li(class='nav-item'): a.ros-cool-url(href='https://bitbucket.org/ruioliveiras/') Portofolio
          block summary    
        a(href="#menu" id="menuLink" class="pure-u-4-24 menu-link"): span
      div(class='ros-content pure-u-1 pure-u-md-3-4')
        block content
          div No content here, i'm sory..
        div(class='footer')
        div(class='pure-menu pure-menu-horizontal')
          ul
            li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas1
            li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas2
            li(class='pure-menu-item'): a(href='/' class='pure-menu-link') cenas3
    script(src='/js/lib/prism.js')
    script(src='/js/ui.js')
    block script