html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A layout example that shows off a responsive product landing page.')
    title Rui Oliveiras 
    link(rel='stylesheet', href='/css/lib/pure.css')
    // if lte IE 8
    //   link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css')
    //  [if gt IE 8] <!
    // link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
    //  <![endif]
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='css/splash.css')
    link(rel='stylesheet', href='css/floting-news.css')
    link(rel='stylesheet', href='css/base.css')
          
    //link(rel='stylesheet', href='css/blog.css')
  body
    .splash-container
      .splash   
        .splash-head.pure-g
          div.splash-head-img.pure-u-2-5
            img.pure-img(src="/img/me.jpg")
          div.splash-head-text.pure-u-3-5
            h1 Rui Oliveiras
            h2 Software Engineer
        p.splash-subhead
          | Welcome to my personal web-site.
        p.pure-g
          a.pure-u-1-4(href='/aboutme.html') About me
          a.pure-u-1-4(href='/posts') My Blog
          a.pure-u-1-4(href='/cv.pdf') CV
          a.pure-u-1-4(href='https://bitbucket.org/ruioliveiras/') Portofolio
      .splash-bottom This blog was made with <3 my myself, for it if you want. 
    .content-wrapper
      .content
        h2.content-head.is-center 
          | \/ - My last posts - \/
        .ros-content
          for post, key in public.posts._data
            section(class='ros-post')
              .content.content-head
                img
                h2: a(href='#{ post.url }')= post.title
                div(class='ros-post-meta') 
                  | At #{ post.date } 
                  for tag in post.tags
                    a(href='\##{ tag }' class='post-category post-category-#{ tag }')= tag
                    | , 
              div(class='ros-post-decription')
                p= post.brief 
