extends /_layout_base.jade
block vars
 - var summary = {"#books":{title:"Books", "sub":{"#b1984":{title:"1984 - George Orwell"}, "#theidiot":{title:"The Idiot - Fyodor Dostoevsky "}}},"#moview":{title:"Movies"} }
block content
  :markdown
   <a name="books"></a>
   # Books
   
   <a name="b1984"></a>
   ## 1984 - George Orwell
   
   Is a political fitction, we are at 1984 somewhere in london living in a totalitary 
   regime. An imaginary regime thought in 1945 by the George Orwell based on what 
   based on what was previsible to happen to the sociaty.
   
    > 2 + 2 = 5
  
    > The Mutability of History

    > Doublethink

   <a name="theidiot"></a>
   The Idiot - Fyodor Dostoevsky 
   ----
   Myshkin is a very good person, who even knowing that are beeing mistaken - 
   he do what he think that is correct.
   And by that reason they are an Idiot the the eyes of the sociaty.
   
    

   <a name="movies"></a>
   Movies
   =====
   <a href="http://www.imdb.com/user/ur54964319/ratings?ref_=nv_usr_rt_4" target="_black"> All my Ratings at imdb </a>
   
  
